header.header
  nav.nav
    a(href="#" class="brand") Brand logo
    ul.navigation-list
      li.navigation-list__item: a(href="/home" class="navigation-list__link active") Home
      li.navigation-list__item: a(href="/contact" class="navigation-list__link") Contact
      li.navigation-list__item: a(href="/about" class="navigation-list__link") About
