extends layouts/_main.pug

block title
  |Start Pug Template

block meta
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

prepend styles
  link(rel="stylesheet", href="styles/reset.css")

block content
  main.content
    section
      h1 Hello, World!

block scripts
  script(src="scripts/main.js")
