doctype html
html(lang="eng")
  head
    block meta

    block styles
      link(rel="stylesheet", href="styles/main.css")

    title
      block title

  body
    include ../includes/_header.pug

    block content

    include ../includes/_footer.pug

    block scripts
